/* general */
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

button {
  width: 80px;
  height: 25px;
  background-color: white;
  border: none;
  border-radius: 10vw;
}
/* menu */
.menud{
  margin-right: 3vw;
  width: 50px;
  height: 50px;
}
.menud img {
  width: 50px;
  height: 50px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  max-width: 100%;
  overflow: auto;
  z-index: 999;
}

.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

button:hover {
  background-color: #00b172;
  color: white;
}

menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

#logo {
  margin-left: 1vw;
  height: 50px;
  width: 160px;
}
/* banner */
.banner {
  background-image: url("../images/landing.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  width: 100vw;
}
.banner-content {
  text-align: center;
  color: white;
}
/* recuadros */
.mein h2 {
  margin: 0 auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  text-align: center;
  width: 18vw;
  border-bottom: 3px solid #00b172;
}

.recuadros {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 {
  color: #00b172;
}
.cuadro {
  width: 28vw;
}
.cuadro h3 p {
  width: 2vw;
}
.musica img {
  height: 100px;
  width: 100px;
}
.device img {
  height: 100px;
  width: 120px;
}

.calidad img {
  height: 100px;
  width: 150px;
}

/*parte verde */
.panel {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  margin: 0px;
  align-items: center;
}
.logo img {
  margin: 0px;
  width: 200px;
  height: 200px;
}
.panelmusical {
  display: flex;
  justify-content: end;
  align-items: end;
}
.panelmusical img {
  align-self: baseline;
  margin: 0px;
  width: 450px;
  height: 750px;
}
.verde {
  margin-bottom: 10vh;
  width: 85vw;
  display: flex;
  background-color: #00b172;
}
.verde div {
  box-sizing: border-box;
  padding: 20px;
}
.texto {
  color: white;
  
}
.texto h1 {
  border-bottom: 3px solid white;
}
  /* Diseño para dispositivos extra pequeños */
@media (max-width: 575px) {
  .logo{
    display: none;
  }
  .verde {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}
.recuadros {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.cuadro {
  width: 28vw;
}
.musica img {
  height: 200px;
  width: 200px;
}
.device img {
  height: 200px;
  width: 220px;
}

.calidad img {
  height: 200px;
  width: 250px;
}
}
/* Diseño para dispositivos móviles */
@media (min-width: 576px) and (max-width: 767px) {
  .logo{
    display: none;
  }
  .verde {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
}
.recuadros {
  display: flex;
  text-align: center;
  flex-direction: column;
}
.cuadro {
  width: 28vw;
}
.musica img {
  height: 200px;
  width: 200px;
}
.device img {
  height: 200px;
  width: 220px;
}

.calidad img {
  height: 200px;
  width: 250px;
}
}

/* Diseño para dispositivos de escritorio */
@media (min-width: 768px) and (max-width: 991px) {
  .logo{
    display: none;
  }
  .verde {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vw;
}
.recuadros {
  text-align: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuadro {
  width: 28vw;
}
.musica img {
  height: 200px;
  width: 200px;
}
.device img {
  height: 200px;
  width: 220px;
}

.calidad img {
  height: 200px;
  width: 250px;
}
}

/* Diseño para pantallas pequeñas */
@media (min-width: 992px) and (max-width: 1199px) {
  .logo{
    display: none;
  }
  .verde {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 65vw;
  }
  .recuadros {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cuadro {
    width: 28vw;
  }
  .musica img {
    height: 200px;
    width: 200px;
  }
  .device img {
    height: 200px;
    width: 220px;
  }
  
  .calidad img {
    height: 200px;
    width: 250px;
  }
}

/* Diseño para pantallas medianas */
@media (min-width: 1200px) and (max-width: 1399px) {
  .logo img {
    margin: 0px;
    width: 200px;
    height: 200px;
  }
}

/* Diseño para pantallas grandes */
@media (min-width: 1400px) {
  .logo img {
    margin: 0px;
    width: 400px;
    height: 400px;
  }
}
